<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <main>
      <div class="main-header">
        <div class="counter-cont">
          <h1>Details</h1>
        </div>
        <div>
          <div>
            <a href="./new" id="new-l">Send us your message!</a>
          </div>
        </div>
      </div>
      <div class="main-main">
        <ul>
          <li>
            <div class="sign"><%= message.user[0] %></div>
            <div style="width: 100%">
              <div class="m-user-cont">
                <p class="m-user"><%= message.user %></p>
                <p class="m-added"><%= message.added %></p>
              </div>
              <p class="m-box"><%= message.text %></p>
              <a href="/" class="go-home">Go Home</a>
            </div>
          </li>
        </ul>
      </div>
    </main>
  </body>
</html>
